.card-dealer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
    position: relative;
}

.card-dealer__wrapper {
	width: calc(100vw - 32px);
	max-width: 300px;
	aspect-ratio: 2/3;
	position: relative;
}