.card-dealer {
	width: min(100%, 300px);
	padding-inline: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
    position: relative;
}

.card-dealer__wrapper {
	width: 100%;
	aspect-ratio: 2/3;
	position: relative;
}